.committees {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center horizontally */
  }
  
  .individual1{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .individual2{
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }


  .committees__item__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Left align text */
  }
  
  .committee__items {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Left align text */
    justify-content: space-between;
    /* align-items: center; */
  
  }
  
  .header{
    text-align: center;
    color: #fff;
    font-size: 4.5rem;
    left: 100px;
    font-weight: 500;
  }
 
  .text-box-right{
    position: relative;
    align-content: center;
    margin-right: -5vw;
    width: 45vw;
    height: auto;
    padding: 1rem;
    background: rgb(195, 207, 227);
  }

  .text-box-left{
    align-content: center;
    margin-left: -5vw;
    width: 45vw;
    height: auto;
    padding: 1rem;
    background: rgb(195, 207, 227);
  }
  
  .committees__item__img {
    width: 35vw;
    height: 40vh;
    object-fit: cover;
    size: contain; /* Resize the image to fit within the container */
  
  }
  
  .committees__item__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align items to the left */
    
  }
  
  .title {
    color: #252e48;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 450;
    color: rgb(0, 0, 0);
  }
  

  .list{
    display: flex;
    flex-direction: column;
    margin-right: -20px;
    align-items: center;
  }

.add-level{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
  text-decoration: none;
  color: rgb(130, 130, 130);
  font-size: 1rem;
  margin-top: 10px;
  /* width: 200px; */
}

.add-level:hover {
  color: black;
  font-size: 1.05rem;
  transition: font-size 0.5s ease; /* Only transition font size */
}


  .level {
    color: #252e48;
    font-size: 1.75rem;
    line-height: 30px;
    text-align: left;
    margin-top: 8px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 400;
    width: 250px;

  }
  
  .committee {
    text-align: left; /* Left align text */
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 800;
    width: 85%;
    /* display: flex;
    flex-direction: row; */
  }

  .us-image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    width: 100%;
    height: 450px; /* Set the height to 100% of its container */
    position: relative;
    z-index: -1;
    background: url('./images/berkeley-home.jpg') center center;
    background-size: cover; /* Use cover to fill the container */
  }

  /* .rows{
    display: flex;
    flex-direction: row;
    width: 90%;
  } */

  .back-btn{
    display: flex;
    width: 160px;
    height: 45px;
    border-radius: 35px;
    border-color: #00000000;
    background: rgb(152, 188, 244);
    font-weight: 500;
    font-size: 15px;
    transition: width 0.4s ease-out, height 0.4s ease-out, font-size 0.4s ease-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .back-btn:hover{
    width: 180px;
    height: 49px;
    font-size: 17px;
  }

  .skill{
    text-align: left; /* Left align text */
    color: rgb(100, 100, 100);
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 85%;
  }
  
    
    @media only screen and (max-width: 1000px) {
      .committees {
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items in the center horizontally */
      }
      
      .individual1{
        width: 50vw;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    
      .individual2{
        width: 50vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
      }
      .committees__item__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Left align text */
      }
      
      .committee__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Left align text */
        align-items: center;
      
      }
      
      .header{
        text-align: center;
        color: #fff;
        font-size: 4.5rem;
        left: 100px;
        font-weight: 500;
      }
     
      .text-box-right{
        position: relative;
        align-content: center;
        margin-right: -5vw;
        width: 45vw;
        height: auto;
        padding: 1rem;
        background: rgb(195, 207, 227);
      }
    
      .text-box-left{
        align-content: center;
        margin-left: -5vw;
        width: 30vw;
        height: auto;
        padding: 1rem;
        background: rgb(195, 207, 227);
      }
      
      .committees__item__img {
        width: 50vw;
        height: 40vh;
        object-fit: cover;
        size: contain; /* Resize the image to fit within the container */
      
      }
      
      .committees__item__text {
        color: #252e48;
        font-size: 14px;
        line-height: 22px;
        text-align: left; /* Left align text */
        width: 30vw;
        color: rgb(0, 0, 0);
      }
      
      .title {
        color: #252e48;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        font-weight: 450;
        color: rgb(0, 0, 0);
      }
      
    
      .list{
        display: flex;
        flex-direction: column;
        width: 80vw;
      }
    
    .add-level{
      display: flex;
      flex-direction: column;
      /* align-items: center; */

    }
    
      .level {
        align-self: center;
        text-align: center;
        margin-bottom: 5vh;
        width: 100%;
      }
      
      .committee {
        text-align: left; /* Left align text */
        color: rgb(0, 0, 0);
        font-size: 1.25rem;
        font-weight: 800;
        /* display: flex;
        flex-direction: row; */
      }


      .back-btn{
        width: 120px;
      }
      
      .back-btn:hover{
        width: 130px;
        height: 49px;
        font-size: 17px;
      }
    
  }
  